<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Python</title>
    <link rel="stylesheet" type="text/css" href="static\css\major.css">
    <link rel="stylesheet" type="text/css" href="static\css\codemirror.css">
    <link rel="stylesheet" type="text/css" href="static/js/cm/addon/hint/show-hint.css">
    <link rel="stylesheet" type="text/css" href="static/js/cm/theme/base16-light.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="static\js\require.js" data-main="static\js\main"></script>
</head>


<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-md-12">
                <h1>Hello Python</h1>
                <h3>编程学习平台</h3>
            </div>
        </header>
        <hr />
    </div>
    <div id="container">
        <!-- 主要内容 -->
        <div id="content" class="row">
            <!-- 这一行用来放置主要内容 -->

            <div class="col-md-6 doc ">
                <button id="official" style="margin-left: 1em;" class="btn btn-primary">
                    <span style="padding: 5px;">官方文档</span>
                </button>
                <button id="manual" style="margin-left: 1em;" class="btn btn-primary">
                    <span style="padding: 5px;">实验手册</span>
                </button>
                <iframe src="https://docs.python.org/zh-cn/3/tutorial/index.html" frameborder="0" target="_self" id='iframe' style="margin-top: 5px;"></iframe>
            </div>
            <div class="col-md-6">
                <p class="resultTitle">运行结果</p>
                <p class="costTimeTitle">运行用时:&nbsp;&nbsp;<span class="time"></span>s</p>
                <div id="out" class="col-lg-12"><textarea id="output" disabled placeholder="点击 |运行|,输出的结果就会在这里显示啦&#10;(没有变化的话，是不是忘记print了)" class="form-control"></textarea>
                </div>
                <!-- 代码输入部分 -->
                <p class="h3">
                    输入代码
                </p>
                <form>
                    <textarea id="code" name="code"></textarea>
                </form>
                <div class="text-right"><button id="run" type="button" class="btn btn-primary ">运行</button></div>

                <a class="row text-right feedback" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAN__uylFJ9UOFFRQ0YyMjJWVlIyQlM3NFNEOFlaNTNWNi4u"><button
                        id="feed" type="button" class="btn">反馈</button></a>
                <div class="text-center tips">
                    <div class="alert alert-dark" role="alert">
                        小提示:如果只输入一行，可以直接计算表达式
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        function get_text_rows(text) {
            return text.split("\n").length;
        }

        function changeSize(ele, rows) {
            if (rows > 50) {
                $(ele).height(window.screen.availHeight / 2);
            } else {
                $(ele).height("auto");
                ele.rows = rows + 1;
            }

        }

        $('#code').each(function() {
            this.oninput = function() {
                changeSize(this, 2)
            }
        })

        function getCode() {
            return $('#code').val()
        }

        function OutPut(data) {
            var ele = document.getElementById('output');
            ele.value = data['output'];
            rows = get_text_rows(data['output']);
            var num = Number(data['time']);

            //决定返回时间多少位小数
            num = num.toFixed(3);
            $(".time").html(num);
            $(".costTimeTitle").show();
            changeSize(ele, rows);
        }

        $('#run').click(function() {
            $.ajax({
                url: '/api/', //代码发送的地址
                type: 'POST', // 请求类型
                data: {
                    'code': getCode()
                }, //调用代码获取函数，获得代码文本
                dataType: 'json', //期望获取的响应类型为 json
                success: OutPut // 在请求成功之后调用 OutPut 函数，将结果打印到输出框  })})
            })
        })
        $('#official').click(function() {
            $('iframe').attr("src", "https://docs.python.org/zh-cn/3/tutorial/index.html")
        })
        $('#manual').click(function() {
            $('iframe').attr("src", "/doc")
        })
    </script>
</body>


</html>