/* major.css */

* {
    margin: 0;
    padding: 0;
}


/* 浏览器滚动条样式 */


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 8px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    color: aliceblue;
    background-color: rgb(10, 73, 145);
    margin-left: 0;
}

header h1 {
    line-height: initial;
    margin: auto 5%;
    display: inline-block;
    user-select: none;
}

header h3 {
    float: right;
    margin: auto 5%;
    line-height: 200%;
    user-select: none;
}

.start {
    width: 80%;
    height: 2em;
    margin: auto 10%;
    color: black;
    display: none;
    background-color: rgb(233,236,239);
    border-radius: 0.2em;
    border: 1px solid rgb(220, 221, 221);
    transition: transform .5s ease;
}

.start:hover{
    transform: scale(1.10);
}
.start:active{
    border: 1px solid black;
}

.start svg{
    height: 80%;
    margin: auto;
}

.official {
    margin-left: 1em;
}

.manual {
    margin-left: 1em;
}

.doc {
    height: 100%;
    padding: .5em;
    border: 2px solid;
    border-color: aliceblue;
    overflow: auto;
    margin: auto 1%;
    -webkit-transition: none;
    transition: none;
}

.lab {
    padding: .5em;
    border: 2px solid;
    border-color: aliceblue;
    overflow: hidden;
}

.doc iframe {
    width: 100%;
    height: 94%;
}

.resultTitle {
    font-size: 1.75rem;
    float: left;
}

.costTimeTitle {
    display: none;
    line-height: 3.25rem;
    float: right;
    margin-bottom: 0;
}

.tips {
    width: 100%;
    bottom: 0;
    margin-bottom: 2%;
}

#container {
    height: 92%;
    margin: 10px auto auto;
    max-width: 1920px;
}

#content {
    height: 100%;
    width: 100%;
}

#run {
    width: 20%;
    margin: 2% auto;
}

#out {
    padding: initial;
}

.CodeMirror{
    box-shadow: 0 5px 5px 0 rgba(210, 208, 208, 0.52);
}

#output {
    margin-bottom: 10%;
    font-size: large;
    resize: none;
    box-shadow: 0 5px 5px 0 rgba(210, 208, 208, 0.52);
}

@media screen and (max-width: 1080px) {
    .tips {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .doc {
        -webkit-transform: none;
        transform: none;
    }
    .lab {
        -webkit-transform: none;
        transform: none;
    }
}


/* adapt css */

@media screen and (max-width: 760px) {
    header h1 {
        font-size: xx-large;
    }
    header h3 {
        font-size: large;
    }
    .doc {
        height: 45%;
        -webkit-transform: none;
        transform: none;
    }
    .lab {
        -webkit-transform: none;
        transform: none;
    }
    .manual {
        margin-left: 0.5em;
    }
    #container {
        margin: auto 4%;
    }
    #content {
        width: auto;
    }
}