/* major.css */

* {
    margin: 0;
    padding: 0;
}

/* 浏览器滚动条样式 */

/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    background: rgb(248,248,248);
    border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}

html, body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    color: aliceblue;
    background-color: rgb(10, 73, 145);
    margin-left: 0;
}

header h1 {
    line-height: initial;
    margin: auto 5%;
    display: inline-block;
    user-select: none;
}

header h3 {
    float: right;
    margin: auto 5%;
    line-height: 200%;
    user-select: none;
}

.start {
    width: 80%;
    height: 2em;
    margin: auto 10%;
    color: black;
    display: none;
    background-color: rgb(248,248,248);
    border-radius: 0.2em;
    border: 1px solid rgba(220, 221, 221,0.5);
    transition: transform .5s ease;
}

.start:hover {
    transform: scale(1.10);
    border: 1px solid rgba(220, 221, 221,0.5);
}

.start:link {
    transform: scale(1.10);
    border: 1px solid rgba(220, 221, 221,0.5);
    
}

.start:active {
    border: 1px solid rgba(220, 221, 221,0.5);
}

.start svg {
    height: 80%;
    margin: auto;
}

.official {
    margin-left: 1em;
}

.manual {
    margin-left: 1em;
}

.doc {
    height: 100%;
    padding: .5em;
    border: 2px solid;
    border-color: aliceblue;
    overflow: auto;
    margin: 0 1%;
    -webkit-transition: none;
    transition: none;
}

.lab {
    padding: .5em;
    border: 2px solid;
    border-color: aliceblue;
    overflow: hidden;
}

.doc iframe {
    width: 100%;
    height: 94%;
}

.resultTitle {
    font-size: 1.75rem;
    float: left;
    margin-bottom:0.8rem;
}

.costTimeTitle {
    display: none;
    line-height: 2.25rem;
    float: right;
    margin-bottom: 0;
}

.tips {
    width: 100%;
    height: 20%;
    bottom: 0;
    margin-bottom: 2%;
}

.tip{
    min-height: 66%;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(210, 208, 208, 0.52);
    border: none;
}

#container {
    height: 92%;
    margin: 10px auto auto;
    max-width: 1920px;
}

#content {
    height: 100%;
    width: 100%;
}

#run {
    width: 100%;
    margin: 5% auto;
    background-color: rgb(28, 89, 159);
}

#out {
    padding: initial;
}

.CodeMirror {
    box-shadow: 0 5px 5px 0 rgba(210, 208, 208, 0.52);
}

#output {
    margin-bottom: 4%;
    font-size: large;
    resize: none;
    box-shadow: 0 5px 5px 0 rgba(210, 208, 208, 0.52);
    background-color: white;
}

@media screen and (max-width: 1080px) {
    .tips {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .doc {
        -webkit-transform: none;
        transform: none;
    }
    .lab {
        -webkit-transform: none;
        transform: none;
    }
}

/* adapt css */

@media screen and (max-width: 760px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 4px;
    }
    
    header h1 {
        font-size: xx-large;
    }
    header h3 {
        font-size: large;
    }
    .doc {
        height: 45%;
        -webkit-transform: none;
        transform: none;
    }
    .lab {
        -webkit-transform: none;
        transform: none;
    }
    .manual {
        margin-left: 0.5em;
    }
    #container {
        margin: auto 4%;
    }
    #content {
        width: auto;
    }
}